altgraph==0.17.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.10
packaging==24.1
pefile==2024.8.26
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==75.1.0
soupsieve==2.6
urllib3==2.2.3
